<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ site.author.name }}">
    <link href='{{ ASSET_PATH }}/css/style.css' rel="stylesheet" media="all">
    <link href="http://feeds.feedburner.com/{{ site.author.feedbaname }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
  </head>

  <body class="high_voltage-pages high_voltage-pages-show">
    <div id="wrapper">
      <header>
        <h1 style="float: left">
          <a href="/">
            <img alt="logo" src="{{ ASSET_PATH }}/images/ruby_normal.png" />
            Bangalore Ruby Users Group
          </a>
        </h1>
        <section class="social-media" style="float:right">
          <div class="forkme">
              <iframe src="http://ghbtns.com/github-btn.html?user=bangaloreruby&repo=bangaloreruby.github.com&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px">
              </iframe>
          </div>
          <div>
            <script async defer src="https://ruby-rockers.herokuapp.com/slackin.js"></script>
          </div>
          <div class="twitter-follow" style="margin-bottom: 20px;">
            <a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-show-count="false" data-lang="en"></a>
          </div>
      </section>
      </header>
      <div style="clear:both"></div>

      <nav class='links'>
      <ul>
        <li><a target="_blank" href="http://www.meetup.com/Bangalore-Ruby-Users-Group/">Meetups</a></li>
        <li><a target="_blank" href="https://groups.google.com/forum/?fromgroups#!forum/{{ site.author.google_group }}/">Mailing list</a>
        <li><a target="_blank" href="http://github.com/{{ site.author.github }}/">Github</a>
        <li><a target="_blank" href="http://twitter.com/{{ site.author.twitter }}/">Twitter</a>
        <li><a target="_blank" href="irc://irc.freenode.net/{{ site.author.irc }}">IRC</a>
        <li><a target="_blank" href="https://ruby-rockers.herokuapp.com/">Slack</a>
      </ul>
      </nav>

      <section id="container">
      <div id="flash">
      </div>
      <h5>Be sure to follow <a href="http://twitter.com/bangaloreruby" target="_blanl">@bangaloreruby</a> for everything about Ruby in Bangalore.</h5>
      {{ content }}
      </section>
      <section id="sidebar">
        <article>
          <header>
            <h1>Upcoming Events</h1>
          </header>
          <iframe width="225" height="570" src="http://meetu.ps/24yypg" frameborder="0"></iframe>
        </article>
      </section>
      <div style="clear:both"></div>
    </div>

    <script>
      (function(d, s) {
        var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.src = url; js.id = id;
          fjs.parentNode.insertBefore(js, fjs);
        };
        load('//platform.twitter.com/widgets.js', 'tweetjs');
        // load('https://apis.google.com/js/plusone.js', 'gplus1js'); // Checkout http://j.mp/ApDgMr for usage html for this is <div class="g-plusone" data-size="medium"></div>
        // load('//connect.facebook.net/en_US/all.js#xfbml=1', 'fbjssdk'); // Checkout http://j.mp/wZw2xR for using open graph protorol html for this is <div class="fb-like" data-href="{{ page.url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
      }(document, 'script'));
    </script>
    <script>
      /*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
      (function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
    </script>

    {% include JB/analytics %}
  </body>
</html>
